# Java
/bin/
/build/
/.gradle/
/.settings/
.classpath
.project
/node_modules
out/
bin/
gradle/

# Python
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
venv

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover